* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body,
html {
  height: 100%;
  width: 100%;
  background: #f4f4f4;
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
}
/deep/ .ant-calendar-month {
  width: 350px!important;
}
.ant-calendar-footer-extra {
  text-align: right !important;
  button{
    margin-left:5px;
  }
}
